/* universal styles */

body {
  font-size: 16px;
  width: 64rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(72,72,72);
}

.main-container {
  max-width: 1024px;
}

/* header */

header {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 2rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo span {
  color: black;
  font-size: 1.25rem;
}

.logo .academy {
  color: rgb(169,169,169);
}

.desktop ul {
  margin-right: 1.5rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.desktop li {
  padding-left: 1rem;
}

.mobile {
  display: none;
}


/* main banner */

.banner {
  background-color: rgb(215, 217, 220);
}

.banner .container {
  display: flex;
  flex-direction: row
}

.banner .image-container img {
  width: 100%;
}

.left-column {
  width: 60%;
  padding: 2rem 1.5rem;
}

.right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1.5rem;
}

.banner .text-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.banner h2 {
  font-weight: bolder;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0rem;
  font-synthesis: weight;
  font-stretch: extra-expanded;
}

.banner p {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 2.25rem;

}

.button {
  padding: .5rem 0px;
  width: 100%;
  background-color: rgb(95,95, 107);
  color: white;
  font-weight: normal;
  text-align: center;
  padding: .6rem 0rem;

}

.button span {
    padding: .5rem 0px;
    font-size: 1.15rem;
}

.button:hover {
  background-color: rgb(100, 47, 117);
  transition-property: background-color;
  transition-duration: 750ms;
}

/* campus */

.campus {
  width: 100%;
}

.campus .container {
  display: flex;
  padding-bottom: 2rem;
}

.campus .left-column {
  width: 60%;
}

.campus .left-column h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.campus .left-column p {
  padding-bottom: 2rem;
}

.campus .right-column {
  width: 40%;
  height: auto;
  padding: 2rem 0rem;
}

.campus .right-column .text-container {
  padding: 2rem 0rem;
}

.campus #mobile {
  display: none;
}

.campus .left-column img {
  width: 100%;
}

.campus .item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.campus .item .text-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem;
  padding-left: 1rem;
}

.campus .item .text-container h4 {
  font-size: 1.5rem;
  margin: 0rem;
  padding:0.5rem 0rem;
}

.campus .item .text-container p {
  margin: 0rem;
  padding: 0rem;
  padding-bottom: .75rem;

}

.campus .item .text-container span {
  margin: 0rem;
  padding: 0rem;

}

.link {
  color: rgb(66, 145, 174);
  font-weight: 300;
}

.link:hover {
  font-weight: bolder;
  font-size: 1.15rem;
  transition: 250ms ease-in-out 50ms;
}


.campus .item .image-container {
  width: 35%;

}

.campus .item img {
  width: 100%;
}

.reference {
  padding: 1rem 0rem 2rem 0rem;
  font-weight: 300;
}

/* courses/learning */

.courses {
  width: 100%;
  background-color: rgb(215, 217, 220);

}

.courses h3 {
  font-size: 2.25rem;
  padding: 2rem 0rem;
  margin: 0rem;
  line-height: 2.25rem;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.courses .container {
  padding-bottom: 2rem;
  display: flex;
  width: auto;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0rem ;
  justify-content: center;
}

.course {
  width: 18rem;
  display: flex;
  flex-direction:column;
  margin: 1rem;
  background-color: white;
}

.course .text-container{
  width: 100%;
  padding-left: 1rem;
}

.course .text-container h4 {
  margin: 1rem 0rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.course .text-container h5 {
  margin: .5rem 0rem;
  line-height: 1.25rem;
  font-size: 1.05rem;
  font-weight: normal;
}

.course .text-container p {
  line-height: 1.25rem;
  margin: .5rem 0rem;
}



.course .image-container img{
  width: 100%;
}

/* thesis */

.thesis .container {
  width: 100%;

}

.thesis h3 {
  font-size: 2rem;
  padding: 2rem 0rem;
  margin: 0rem;
  line-height: 2.15rem;
  width: 100%;
  text-align: center;
}

.thesis .left-column {
  width: 60%;
  padding: 0rem 1.5rem 2rem 1.5rem;

}


.thesis .right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0rem;
}

.thesis-item {
  width:100%;
  display: flex;
  flex-direction: row;

  padding: 0rem;
}

.thesis-item .text-container {
  flex-basis: 65%;

}

.thesis-item .image-container  {
  flex-basis: 35%;
  padding: 1rem;
}

.thesis-item img {
  width: 100%;
}

.thesis .right-column h4 {
  font-size: 1.25rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.thesis .right-column p {
  margin: 0rem;
}

.thesis .left-column h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0rem .5rem 0rem;
}



/* footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: solid grey .05rem;
  font-weight: 300;
  font-style:italic;
}

.signature {
  padding: 1rem 0rem 0rem 1.5rem;

}

.terms-privacy {
  padding: 1rem 1.5rem 0rem 0rem;
}

.terms-privacy span {
  margin-left: .75rem
}

/* mobile media queries */

@media screen and (max-width: 460px) {

  /* header (mobile)*/

  .main-container{
    width: 26rem;
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
  }

  .logo {
    margin: 0rem;
  }

  .logo img {
    width: 2.5rem;
  }

  .desktop, header span {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mobile ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 18rem;
    padding: 0rem;
  }

  /* banner (mobile) */

  .banner .container {
    flex-direction: column;
  }

  .banner .left-column {
    width: 100%;
    padding: 0rem;
  }

  .banner .image-container {
    width: 100%;
    padding: 0rem;
  }

  .banner .right-column {
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    padding-bottom: 2rem;
  }

  .banner .text-container {
    padding: 0rem;
    margin: 2rem 1rem 1.5rem 1rem;

  }

  .banner h2 {
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 2rem;
  }

  .banner p {
    padding: 0rem;
    margin: 0rem;
  }

  .button {
    background-color: rgb(215, 217, 220);
    padding: .5rem 0px;

  }

  .button span {
    padding: .5rem 33%;
    margin-bottom: 2rem;
    background-color: #A0A0A0;
    transition-property: font-weight;
  }

  .button:hover {
    font-weight: 700;

    background-color: rgb(215, 217, 220);
    transition: 750ms ease-in 150ms;
  }

  /* campus (mobile) */

  .campus .left-column {
    display: none;
  }

  .campus .right-column {
    width: 100%;
    padding: 0rem;
  }

  .campus .item {
    width: 100%;
    flex-direction: column;
    margin-bottom: 0rem;
  }

  .campus .item .image-container {
    width: auto;
    height: auto;
    margin: 1rem;

  }

  .campus .item img {
    display: none;
  }
  .campus #mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .campus .text-container {
    margin: 0rem 0rem 2rem 1rem;
  }

  /* courses (mobile) */

  .courses {
    background-color: white;
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 2rem;
  }

  .courses h3 {
    padding-bottom: 1rem;
  }

  .courses .image-container, .courses h5, .courses p {
    display: none;
    margin: 0rem;
    padding: 0rem;
  }

  .course {
    padding: 0rem;
    margin: 0rem;

  }

  .courses .text-container {
    background-color: rgb(215, 217, 220);
    margin: 0rem;
    padding: 0rem;
  }

  #course-mobile {
    width: 100%;
    margin: 0rem;
    padding: 1rem;
    border: .25rem solid white;

  }


  /* thesis (mobile) */

  .thesis h3 {
    padding-bottom: 1rem;
  }

  .thesis .left-column {
    display: block;
    width: 100%;
    padding: 0rem;
  }

  .thesis .right-column, .thesis .left-column .text-container {
    display: none;
  }

  /* footer (mobile) */

  footer .terms-privacy {
    display: none;

  }

  footer .signature {
    padding: 1rem 0rem 1rem 1.5rem;
    margin-top: 1.5rem

  }
}
